.wrap{
    color: aqua;
    width: 25%;
    margin:50px auto;
}
label{
    color: red;
}
p{
    color: green;
}
.two{
    color: orangered;
}
.cart{
    width: 100px;
    height: 100px;
    color: rgba($color: #0552ce, $alpha: 1.0);
}
.java{
    width: 100px;
    height: 100px;
    color: rgba($color: #ce0505, $alpha: 1.0);
}